:root {
  --main-color:#ffffff;
  --primary-color:#757575;
  --second-color: #2F303A;
  --accent-color: #2196F3;
  --paragraph-color: #212121;
  --gray-background:#F5F4FA;
  --background-blue:#1886F3;
  --icon-soc-color:#AFB1B8;
  --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--paragraph-color);
  background-color: var(--main-color);
  font-size: 14px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn-list__hero-btns {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.btn-list__btn-items {
  padding: 6px 22px;
  border: solid #EEEEEE;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list .btn-list__btn-items:hover, .btn-list .btn-list__btn-items:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0 94px 0;
  }
}

.section__title {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--paragraph-color);
}
@media screen and (min-width: 768px) {
  .section__title {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    padding-bottom: 50px;
    padding-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .container {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__list.header__items .current {
  position: relative;
  color: var(--accent-color);
}

.header__items {
  display: block;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__logo {
  margin-right: 93px;
  padding: 24px 0 25px;
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.header__list .header__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  transition: var(--animation);
}
.header__list .header__link.header__link:hover, .header__list .header__link.header__link:focus {
  color: var(--accent-color);
}

.header__link {
  padding: 32px 0 32px 0;
}

.header__list .header__link.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__list .header__link:hover::after,
.header__list .header__link:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: var(--animation);
}

.header__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: var(--animation);
}

.header__contacts .header__mail:hover,
.header__contacts .header__mail:active {
  color: var(--accent-color);
}

.header__contacts .header__tel:hover,
.header__contacts .header__tel:active {
  color: var(--accent-color);
}

.header__link::after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.hero {
  padding: 118px 0 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile_hero.jpg);
  background-color: var(--second-color);
  background-color: #2F303A;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet_hero.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 0;
    padding: 200px 0 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back_header.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
  padding: 0 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 768px;
    font-size: 26px;
    line-height: 1.62;
    padding: 0 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
    padding: 0;
  }
}

.hero__btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 24px;
  border: 0;
  display: inline-block;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--background-blue);
}

.edge {
  padding-bottom: 0;
}

.edge__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--paragraph-color);
  margin-bottom: 10px;
  text-align: center;
}

.edge__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--gray-background);
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.edge__icon {
  background-color: var(--gray-background);
}

.edge__elem {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .edge__elem {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .edge__elem {
    width: calc((100% - 30px) / 4);
  }
}

.edge__list {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .edge__list {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .edge__list {
    display: flex;
  }
}

.meaning {
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-color);
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .meaning {
    padding-bottom: 0;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.clients__icon-box {
  width: 170px;
  height: 92px;
}
.clients__icon-box:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-radius: 4px;
  margin-right: 30px;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  cursor: pointer;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
  .affairs {
    display: none;
  }
}
.affairs__overlay {
  position: relative;
}

.affairs__overlay-text {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 27px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.affairs__list {
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--gray-background);
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    gap: 30px;
  }
}

.team__container {
  background: var(--main-color);
  filter: drop-shadow(0px 1px 1px gray);
  border-radius: 4px;
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .team__container {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}

.team__photo {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.team__names {
  padding: 30px 0 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--paragraph-color);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-color);
}

.team__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__soc-items {
  width: 44px;
  height: 44px;
}
.team__soc-items:not(:last-child) {
  margin-right: 10px;
}

.team__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-soc-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  fill: var(--main-color);
  background: var(--accent-color);
}

.footer {
  background-color: var(--second-color);
  padding: 60px 0 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer__list:not(:nth-child(2)) {
  margin: 0;
}

.footer__element {
  margin-bottom: 9px;
}

.footer__links-map {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer__links-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--animation);
}
.footer__list .footer__links-mail:hover, .footer__list .footer__links-mail:focus {
  color: var(--accent-color);
}

.footer__links-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--animation);
}
.footer__list .footer__links-tel:hover, .footer__list .footer__links-tel:focus {
  color: var(--accent-color);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__tittle {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #EEEEEE;
  display: block;
  margin-bottom: 20px;
}

.footer__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__soc-items {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-color);
}
.footer__soc-items:not(:last-child) {
  margin-right: 10px;
}

.footer__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--accent-color);
}

.footer__soc-icons {
  fill: var(--main-color);
}

.footer__adress-raport {
  min-width: 231px;
}

.footer__join-raport {
  margin-left: 70px;
}

.form-box {
  display: flex;
  margin-left: 93px;
}

.form {
  display: flex;
  width: 570px;
  align-items: flex-end;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 358px;
  background-color: var(--hero-bg-color);
  color: rgba(255, 255, 255, 0.3);
}
.form__field input:focus-within {
  border-color: rgba(33, 150, 243, 0.3);
  outline: none;
}

.form__input:hover,
.form__input:focus {
  border-color: rgba(33, 150, 255, 0.3);
}

.form__field label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.form__field input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 0;
  background-color: var(--second-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__field input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__submit-button {
  display: flex;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__submit-button:hover, .form__submit-button:focus {
  background-color: var(--background-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__submit-btn-text {
  color: var(--main-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form__send-icons {
  margin-left: 10px;
  fill: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-color);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 6px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close .modal__close:hover,
.modal__close .modal__close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__heading {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  padding: 0;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.form__modal {
  display: flex;
  flex-direction: column;
}

.form__field-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 448px;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-color);
  resize: none;
}

.form__modal-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__modal-input:focus-within ~ .form__icon-input {
  fill: var(--accent-color);
}

.form__icon-input {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-textarea {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 138px;
  margin-bottom: 20px;
}

.form__textarea {
  width: 448px;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-checkbox {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.form__chekbox-custom {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 2px;
  background-color: var(--main-color);
  vertical-align: sub;
}
.form__chekbox-custom::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.1s ease-in;
}

.form__checkbox-input:checked + .form__chekbox-custom::before {
  transform: translate(-50%, -50%) scale(1);
  border-radius: 2px;
}

.form__span-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  padding-right: 5px;
  padding-left: 7px;
}

.form__checkbox-link {
  display: inline-block;
  color: var(--accent-color);
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.form__submit-btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px 10px 52px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__submit-btn-modal:hover, .form__submit-btn-modal:focus {
  background-color: var(--background-blue);
}

.form__btn-modal-text {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.overlay {
  overflow: hidden;
  position: relative;
}

.project__overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.project__card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__card-link:hover .project__overlay {
  transform: translatey(0);
}

.project__card-link:hover,
.project__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__items {
  width: calc((100% - 60px) / 3);
  border: 1px solid #EEEEEE;
}

.project__title {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}

.project__name-list {
  padding: 20px 24px 20px;
  border-bottom: 1px solid var(--gray-background);
  border-right: 1px solid var(--gray-background);
  border-left: 1px solid var(--gray-background);
}/*# sourceMappingURL=main.css.map */