
 @media screen  and (max-width: 1200px){
     .affairs {
    display: none;
     }
}


.affairs__overlay{ 
    position: relative;
}

.affairs__overlay-text{
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 27px 27px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.affairs__list{
    display: flex;
    gap: 30px; 
}