.footer{
    background-color:var(--second-color);
    padding: 60px 0 60px;
}

.footer .container{
   

    @media screen  and (min-width: 768px){
        display: flex;
         flex-wrap: wrap;
         justify-content: space-around;

     }

    @media screen  and (min-width: 1200px){
        display: flex;
         align-items: baseline; 
         flex-wrap: nowrap;
     }
 }

.footer__logo-link{
    margin-bottom: 28px;
    display: block;
    text-align: center;
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--main-color);

    @media screen  and (min-width: 1200px){
       display: inline-block; 
        margin-bottom: 20px;
     }
    
}






.footer__element{
    margin-bottom: 9px;
}

.footer__links-map{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.footer__links-mail{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--animation);
        .footer__list &:hover,
        .footer__list &:focus{
        color: var(--accent-color);
        }
    
}

.footer__links-tel{
    
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--animation);
        .footer__list &:hover,
        .footer__list &:focus{
        color: var(--accent-color);
        }
}

.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer__tittle{ 
    text-align: center;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #EEEEEE;
    display: block;
    margin-bottom: 20px;

    @media screen  and (min-width: 1200px){
        text-align: start;
 
        }
}

.footer__soc-list{
    display: flex;
    justify-content: center;
    
    // width: calc((100% - 60px) / 2);
    
    @media screen  and (min-width: 1200px) {
        // width: 170px; 
        align-items: center;
        // height: 92px;
        &:not(:last-child){
         margin-right: 30px;
         
    }
        }
}
 

.footer__soc-items{ 
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    fill: var(--main-color);
        &:not(:last-child){
            margin-right: 10px;
        }

}


.footer__soc-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:var(--main-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        &:hover,
        &:focus{
        background-color: var(--accent-color);
}

}

.footer__list{
    display: flex; 
    flex-direction: column;
    align-items: center;

    @media screen  and (min-width: 1200px){
        align-items: start;
       }
     
}

.footer__list:not(:nth-child(2)){

    @media screen  and (min-width: 1200px){
        margin: 0;
       }
    
}

.footer__soc-icons{
    fill: var(--main-color);
}


.footer__adress-raport{
    min-width: 231px;
    margin-bottom: 60px;

    @media screen  and (min-width: 1200px){
       
        margin-bottom: 0;
       }
}



 .footer__join-raport{
    align-items: center;
    margin-bottom: 60px;
    
    

    @media screen  and (min-width: 1200px){
       margin-left: 70px;
       margin-bottom: 0;
      }
    
 }