h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    margin: 0;
  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }

  button{
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }

ul{  padding-left: 0;
     margin: 0;
     list-style-type:none;
}