:root{
    --main-color:#ffffff;
    --primary-color:#757575;
    --second-color: #2F303A;
    --accent-color: #2196F3;
    --paragraph-color: #212121;
    --gray-background:#F5F4FA;
    --background-blue:#1886F3;
     --icon-soc-color:#AFB1B8;
     --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }